<!DOCTYPE html>
<html lang="en" class="antialiased">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title & Description -->
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}">

    <!-- OpenGraph Tags -->
    <meta property="og:title" content="{{ meta.og.title }}" />
    <meta property="og:description" content="{{ meta.og.description }}" />
    <meta property="og:type" content="{{ meta.og.type }}" />
    <meta property="og:url" content="{{ meta.url }}{{ page.url }}" />

    <meta property="og:image" content="{{ meta.og.image }}" />
    <meta property="og:locale" content="{{ meta.og.locale }}" />

    <!-- Twitter tags -->
    <meta property="twitter:title" content="{{ meta.og.title }}" />
    <meta property="twitter:description" content="{{ meta.og.description }}" />
    <meta property="twitter:type" content="{{ meta.og.type }}" />
    <meta property="twitter:url" content="{{ meta.url }}{{ page.url }}" />
    <meta property="twitter:image" content="{{ meta.og.image }}" />
    <meta property="twitter:locale" content="{{ meta.og.locale }}" />

    <!-- Favicon -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">

    <!-- Styles -->
    <link as="style" href="/styles/main.css?ver={% hash %}" rel="stylesheet preload" />

    <!-- https://fonts.google.com/share?selection.family=Limelight%7CMukta:wght@300;400%7CRosario:ital,wght@0,700;1,700 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Limelight&family=Mukta:wght@300;400&family=Rosario:ital,wght@0,700;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div data-router-wrapper>
        <div data-router-view>
            <main>
                {{ content }}
            </main>
        </div>
    </div>

    <!-- Scripts -->
    <script defer src="/scripts/main.js?ver={% hash %}"></script>
</body>

</html>