<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
	<div class="container mx-auto px-2 sm:px-6 lg:px-8">
		<div class="relative flex items-center justify-between h-16">
			<div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
				<!-- Mobile menu button-->
				<button type="button"
					class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
					aria-controls="mobile-menu" aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<!--
						Icon when menu is closed.
						Heroicon name: outline/menu
						Menu open: "hidden", Menu closed: "block"
					-->
					{% include 'svg/icon-menu' %}
					<!--
						Icon when menu is open.
						Heroicon name: outline/x
						Menu open: "block", Menu closed: "hidden"
					-->
					{% include 'svg/icon-close' %}
				</button>
			</div>
			<div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
				<div class="hidden sm:block sm:ml-6">
					<div class="flex space-x-4">

						<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
						<!-- https://www.11ty.dev/docs/plugins/navigation/#advanced-all-rendering-options-for-eleventynavigationtohtml -->

						{% assign navPages = collections.all | eleventyNavigation %}
						{%- for entry in navPages %}
						{% assign classes = "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %}
						{% if entry.url == page.url %}
						{% assign classes = "bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" %}
						{% endif %}
						<a class="{{ classes }}" href="{{ entry.url | url }}">{{ entry.title }}</a>
						{%- endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Mobile menu, show/hide based on menu state. -->
	<div class="sm:hidden" id="mobile-menu">
		<div class="px-2 pt-2 pb-3 space-y-1">

			<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
			<!-- https://www.11ty.dev/docs/plugins/navigation/#advanced-all-rendering-options-for-eleventynavigationtohtml -->

			{% assign navPages = collections.all | eleventyNavigation %}
			{%- for entry in navPages %}
			{% assign classes = "text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium" %}
			{% if entry.url == page.url %}
			{% assign classes = "bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" %}
			{% endif %}
			<a class="{{ classes }}" href="{{ entry.url | url }}">{{ entry.title }}</a>
			{%- endfor %}
		</div>
	</div>
</nav>